<div class="container">
    <div class="table">
        <div class="title">
            Applications
        </div>
        <div class="heading">
            <div class="column box">
                Name
            </div>
            <div class="column box">
                Experience
            </div>
            <div class="column box">
                DOB
            </div>
            <div class="column box">
            </div>
        </div>
        <div class="row" *ngFor="let candidate of candidates;">
            <div class="column box">
                {{candidate.firstName}} {{candidate.lastName}} {{candidate.middleName}}
            </div>
            <div class="column box">
                {{candidate.totalYearsOfExperience}}
            </div>
            <div class="column box">
                {{candidate.dateOfBirth|date}}
            </div>
            <div class="column box">
                <a [routerLink]="['/view-candidate']" [queryParams]="{candidateId:candidate.candidateId}">
                    View
                </a>
            </div>
        </div>
    </div>
</div>