<div class="container">
    <div class="table">
        <div class="title">
            Applications
        </div>
        <div class="heading">
            <div class="column box">
                Title
            </div>
            <div class="column box">
                Candidate
            </div>
            <div class="column box">
                Rating
            </div>
            <div class="column box">
            </div>
        </div>
        <div class="row" *ngFor="let jobApplication of jobApplications;">
            <div class="column box">
                {{jobApplication.job.jobTitle}}
            </div>
            <div class="column box">
                {{jobApplication.candidate.firstName}} {{jobApplication.candidate.lastName}}
            </div>
            <div class="column box">
                {{jobApplication.rating}}
            </div>
            <div class="column box">
                <a [routerLink]="['/view-application']" [queryParams]="{applicationId:jobApplication.applicationId}">
                    View
                </a>
            </div>
        </div>
    </div>
</div>