<div class="container">
    <div class="table">
        <div class="title">Jobs
            <div class="column title-button">
                <a [routerLink]="['/create-job']" title="New Job">
                    +
                </a>
            </div>
        </div>
        <div class="heading">
            <div class="column box">
                Title
            </div>
            <div class="column box">
                Description
            </div>
            <div class="column box">
                Closing Date
            </div>
            <div class="column box">
            </div>
        </div>
        <div class="row" *ngFor="let job of jobs;">
            <div class="column box">
                {{job.jobTitle}}
            </div>
            <div class="column box">
                {{job.description}}<br />
            </div>
            <div class="column box">
                {{job.expiryDate|date}}
            </div>
            <div class="column box">
                <a [routerLink]="['/apply-job']" [queryParams]="{jobID:job.jobId}">
                    Apply
                </a>
            </div>
        </div>
    </div>
</div>