<div class="container">
    <h2>Apply Job:{{job.jobTitle}}</h2>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <div class="column">
                <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name">
                <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger">
                    <div *ngIf="f.firstName.errors.required">First Name is required.</div>
                </div>
            </div>
            <div class="column">
                <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <input formControlName="middleName" id="middleName" type="text" class="form-control" placeholder="Middle Name">
            </div>
            <div class="column">
                <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="column">
                Please rate your skills:
                <div class="row" *ngFor= "let jobSkillRequired of job.jobSkillWeightageRequired">                      
                        <div class="column">
                            {{jobSkillRequired.skill.description}}
                        </div>
                        <div class="column">
                            <select [id]="jobSkillRequired.skillId" [formControlName]="jobSkillRequired.skillId" class="form-control">
                                <option  value="0"  selected>--Select--</option>
                                <option *ngFor="let expertiseLevel of expertiseLevels" [value]="expertiseLevel.expertiseLevelId">{{expertiseLevel.expertiseLevel}}</option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
