<div class="header" role="">
  <div class="cell">
    <a aria-label="applications" rel="noopener" href="/applications" title="Applications">
      Applications
    </a>
  </div>
  <div class="cell">
    <a aria-label="candidates" rel="noopener" href="/candidates" title="Candidates">
      Candidates
    </a>
  </div>
  <div class="cell">
    <a aria-label="jobs" rel="noopener" href="/jobs" title="Jobs">
      Jobs
    </a>
  </div>
</div>

<div class="content" role="main">  
  <router-outlet></router-outlet>
</div>

