<div class="container">
    <h2>New Job</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <div class="column">
                <input formControlName="jobTitle" id="jobTitle" type="text" class="form-control" placeholder="Title">
                <div *ngIf="f.jobTitle.touched && f.jobTitle.invalid" class="alert alert-danger">
                    <div *ngIf="f.jobTitle.errors.required">Title is required.</div>
                </div>
            </div>
            <div class="column">
                <input formControlName="jobCode" id="jobCode" type="text" class="form-control" placeholder="Job Code">
            </div>
            <div class="column">
                <input formControlName="description" id="description" type="text" class="form-control"
                    placeholder="Description">
                <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                    <div *ngIf="f.description.errors.required">Job Description is required.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <input formControlName="expiryDate" id="expiryDate" type="date" class="form-control"
                    placeholder="Expiry Date">
                <div *ngIf="f.expiryDate.touched && f.expiryDate.invalid" class="alert alert-danger">
                    <div *ngIf="f.expiryDate.errors.required">Expiry Date is required.</div>
                </div>
            </div>
            <div class="column">
                <select formControlName="status" id="status" class="form-control">
                    <option value=0 selected>--Select--</option>
                    <option value="published">Published</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column">
                Required skills:
            </div>
        </div>
        <div class="sub-tab" formArrayName="jobSkillWeightageRequired">
            <div class="heading">
                <div class="column box">
                    Skill
                </div>
                <div class="column box">
                    Expertise Level
                </div>
                <div class="column box">
                    Weightage
                </div>
                <div class="column box">
                    Is Mandatory
                </div>
                <div class="column box">
                </div>
            </div>
            <div class="row" *ngFor="let jobSkill of form.get('jobSkillWeightageRequired')['controls']; let i = index"
                [formGroupName]="i">
                <div class="column box">
                    <select formControlName="skill" class="form-control">
                        <option value=0 selected>--Select--</option>
                        <option *ngFor="let skillSet of skillSets" [value]="skillSet.skillId">
                            {{skillSet.description}}
                        </option>
                    </select>
                </div>
                <div class="column box">
                    <select formControlName="expertiseLevel" class="form-control">
                        <option value=0 selected>--Select--</option>
                        <option *ngFor="let expertiseLevel of expertiseLevels"
                            [value]="expertiseLevel.expertiseLevelId">
                            {{expertiseLevel.expertiseLevel}}
                        </option>
                    </select>
                </div>
                <div class="column box">
                    <input formControlName="weightage" id="weightage" type="text" class="short form-control"
                        placeholder="Weightage">
                </div>
                <div class="column box">
                    <input formControlName="isMandatory" id="isMandatory" type="checkbox" class="check form-control"
                        title="Is Mandatory">
                </div>
                <div class="column box">
                    <a class="" (click)="removeOrClearSkillSetRequired(i)" title="Remove">
                        -
                    </a>
                    <a class="float-left" color="primary" (click)="addSkillSetRequiredFormGroup()" title="Add">
                        +
                    </a>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>